// Place all the styles related to the public/Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
	text-align: center;
}

.product-container {
	float: left;
	margin: 0 60px;
}

.reco{
	margin: 40px;
}

.more{
	margin-top: 30px;
}